$primary-blue: #458AFB;
$secondary-blue: #5696FF;
$primary-white: #FFF;
$secondary-white: #F2F5F8;
$primary-dark: #0D2839;
$dark-grey: #86939C;
$light-grey: #D5DADF;
$success-color: #9ECB45;
$error-color: #FE6845;
$yellow-color: #FFBD27;